&probit_transform_nml
   /

&algorithm_info_nml
   qceff_table_filename = 'QCEFF_TABLE_NAME'
   /

&perfect_model_obs_nml
   read_input_state_from_file = BOOL_PMO_IN_FILE,
   single_file_in             = .false.
   input_state_files          = "PMO_FILE_IN"

   write_output_state_to_file = BOOL_PMO_OUT_FILE,
   single_file_out            = .true.
   output_state_files         = "PMO_FILE_OUT"
   output_interval            = 1,

   async                      = PARALLELMODE ASYNCADDON

   obs_seq_in_file_name       = "PMO_OBS_IN",
   obs_seq_out_file_name      = "PMO_OBS_OUT",
   init_time_days             = 0,
   init_time_seconds          = 0,
   first_obs_days             = -1,
   first_obs_seconds          = -1,
   last_obs_days              = -1,
   last_obs_seconds           = -1,

   trace_execution            = .false.,
   output_timestamps          = .false.,
   print_every_nth_obs        = -1,
   output_forward_op_errors   = .false.,
   silence                    = .false.,
   /

&filter_nml
   single_file_in               = .false.
   input_state_files            = ''
   input_state_file_list        = 'INPUTFILES'

   stages_to_write  = STAGES_TO_WRITE

   single_file_out              = .true.
   output_state_files           = ''
   output_state_file_list       = 'OUTPUTFILES'
   output_interval              = 1,
   output_members               = BOOL_OUTPUT_MEMBERS
   num_output_state_members     = N_OUTPUT_STATE
   output_mean                  = .false.
   output_sd                    = .false.

   ens_size                     = ENSEMBLE_SIZE
   num_groups                   = 1,
   perturb_from_single_instance = .false.,
   perturbation_amplitude       = 0.2,
   distributed_state            = .true.

   async                        = PARALLELMODE ASYNCADDON

   obs_sequence_in_name         = "FILTER_OBS_IN",
   obs_sequence_out_name        = "FILTER_OBS_OUT",
   num_output_obs_members       = N_OUTPUT_OBS
   init_time_days               = 0,
   init_time_seconds            = 0,
   first_obs_days               = -1,
   first_obs_seconds            = -1,
   last_obs_days                = -1,
   last_obs_seconds             = -1,

   inf_flavor                  = INFFLAVOUR0, INFFLAVOUR1
   inf_initial_from_restart    = BOOLINFINITRESTART0, BOOLINFINITRESTART1
   inf_sd_initial_from_restart = BOOLINFSTDINITRESTART0, BOOLINFSTDINITRESTART1
   inf_deterministic           = .true.,                  .true.,
   inf_initial                 = INITIALINFLATION0, INITIALINFLATION1
   inf_lower_bound             = INFLATIONLOWERBOUND0, INFLATIONLOWERBOUND1
   inf_upper_bound             = INFLATIONUPPERBOUND0, INFLATIONUPPERBOUND1
   inf_damping                 = INFLATIONDAMPING0, INFLATIONDAMPING1
   inf_sd_initial              = INITIALINFLATIONSTD0, INITIALINFLATIONSTD1
   inf_sd_lower_bound          = INFLATIONSTDLOWERBOUND0, INFLATIONSTDLOWERBOUND1
   inf_sd_max_change           = INFLATIONSTDMAXSTEP0, INFLATIONSTDMAXSTEP1

   trace_execution              = .false.,
   output_timestamps            = .false.,
   output_forward_op_errors     = .false.,
   write_obs_every_cycle        = .false.,
   silence                      = .false.,
   /

&fill_inflation_restart_nml
   write_prior_inf = BOOLINFRESTARTWRITE0
   prior_inf_mean  = OWNINITINFMEAN0
   prior_inf_sd    = OWNINITINFSTD0
   
   write_post_inf  = BOOLINFRESTARTWRITE1
   post_inf_mean   = OWNINITINFMEAN1
   post_inf_sd     = OWNINITINFSTD1
   
   input_state_files = OWNINITINFINPUT_FILES
   single_file       = .false.
                       
   verbose           = .false.   
   / 


&ensemble_manager_nml
   layout         = 2         
   tasks_per_node = NTASKSPERNODE
   /

&assim_tools_nml
   distribute_mean                 = .false.
   cutoff                          = ASSIMCUTOFF
   sort_obs_inc                    = .false.,
   spread_restoration              = .false.,
   sampling_error_correction       = SAMPLINGERRORCORRECTION
   adaptive_localization_threshold = ADAPLOCTHRESH
   output_localization_diagnostics = .false.,
   localization_diagnostics_file   = 'localization_diagnostics',
   print_every_nth_obs             = 0,
   rectangular_quadrature          = .true.,
   gaussian_likelihood_tails       = .false.,
   /

&cov_cutoff_nml
   select_localization = 1,
   /

&reg_factor_nml
   select_regression    = REGRESSIONFACTORTYPE
   input_reg_file       = "REGRESSIONFACTORINPUTFILE"
   save_reg_diagnostics = .false.,
   reg_diagnostics_file = "reg_diagnostics",
   /

&obs_sequence_nml
   write_binary_obs_sequence = .false.,
   read_binary_file_format   = 'native'
   /

&obs_kind_nml
   assimilate_these_obs_types = 'RAW_STATE_VARIABLE',
                                'RAW_STATE_1D_INTEGRAL',
                                'RAW_STATE_VAR_POWER'
   /

&model_nml
   model_size        = NUMLORENZLOC
   forcing           = LORENZF
   delta_t           = LORENZDT
   time_step_days    = RWEQDTDAYS
   time_step_seconds = RWEQDTSECS
   /

&model_mod_nml
   assimilation_period_seconds = MODELMODASSIMSECS
   /

&utilities_nml
   termlevel      = 1,
   module_details = .false.,
   logfilename    = 'dart_log.out',
   nmlfilename    = 'dart_log.nml',
   write_nml      = 'file',
   print_debug    = .false.,
   /

&mpi_utilities_nml
   /

&preprocess_nml
   overwrite_output        = .true.
   input_obs_def_mod_file  = '../../../observations/forward_operators/DEFAULT_obs_def_mod.F90'
   output_obs_def_mod_file = '../../../observations/forward_operators/obs_def_mod.f90'
   input_obs_qty_mod_file  = '../../../assimilation_code/modules/observations/DEFAULT_obs_kind_mod.F90'
   output_obs_qty_mod_file = '../../../assimilation_code/modules/observations/obs_kind_mod.f90'
   obs_type_files          = '../../../observations/forward_operators/obs_def_1d_state_mod.f90'
   quantity_files          = '../../../assimilation_code/modules/observations/oned_quantities_mod.f90'
   /

&obs_sequence_tool_nml
   filename_seq_list  = 'OBSSEQFILELIST'
   filename_out       = 'OBSSEQOUTPUTFILE'
   first_obs_days     = OBSSEQDAYS0
   first_obs_seconds  = OBSSEQSECONDS0
   last_obs_days      = OBSSEQDAYS1
   last_obs_seconds   = OBSSEQSECONDS1
   edit_copy_metadata = BOOLOBSSEQMETADATA
   new_copy_metadata  = 'OBSSEQOBSMETANAME'
   gregorian_cal      = .false.
   print_only         = .false.
   /

! &obs_diag_nml
!    obs_sequence_name     = 'obs_seq.final',
!    bin_width_days        = -1,
!    bin_width_seconds     = -1,
!    init_skip_days        = 0,
!    init_skip_seconds     = 0,
!    Nregions              = 3,
!    trusted_obs           = 'null',
!    lonlim1               = 0.00, 0.00, 0.50
!    lonlim2               = 1.01, 0.50, 1.01
!    reg_names             = 'whole', 'lower', 'upper'
!    create_rank_histogram = .true.,
!    outliers_in_histogram = .true.,
!    use_zero_error_obs    = .false.,
!    verbose               = .false.
!    /

&schedule_nml
   calendar        = 'Gregorian',
   first_bin_start =  1601,  1,  1,  0,  0,  0,
   first_bin_end   =  2999,  1,  1,  0,  0,  0,
   last_bin_end    =  2999,  1,  1,  0,  0,  0,
   bin_interval_days    = 1000000,
   bin_interval_seconds = 0,
   max_num_bins         = 1000,
   print_table          = .true.
   /

! &obs_seq_to_netcdf_nml
!    obs_sequence_name = 'obs_seq.final',
!    obs_sequence_list = '',
!    append_to_netcdf  = .false.,
!    lonlim1    =    0.0,
!    lonlim2    =    1.0,
!    verbose    = .true.
!    /

&state_vector_io_nml
   single_precision_output = SQUISHMYOUTPUT
   /

&quality_control_nml
   input_qc_threshold          =  QCGRADE
   outlier_threshold           =  QCSTD
   enable_special_outlier_code =  BOOLQCSPECIALCODE
   /

&model_mod_check_nml
  input_state_files     = 'perfect_input.nc'
  output_state_files    = 'mmc_output.nc'
  num_ens               = 1
  single_file           = .false.
  test1thru             = 0
  run_tests             = 1,2,3,4,5,6,7
  x_ind                 = 2
  loc_of_interest       = 0.3
  quantity_of_interest  = 'QTY_STATE_VARIABLE'
  interp_test_dx        = 0.02
  interp_test_xrange    = 0.0, 1.0
  verbose               = .true.
  /


! By default, &integrate_model_nml is not read, even though it exists in the default template file
! If in later versions it is used, please view input.nml.default for how to put it back in
