

_initial_work
_initial_f90_sources


work/es
work/quickbuild_cray.csh
work/quickbuild_intel.csh
work/quickbuild_v1.csh
work/submit_on_node___filter.sh
work/submit_on_node___remaining.sh

work/quickbuild.csh

work/_mine_old_man_paths_
work/_new_man_paths_/
work/*.out
work/*.err
work/Makefile


