*.a
*.so
*.mod
*.o
*.swp
*__pycache__*
*obscount.txt
*region?.ps
*~
.DS_Store
Gemfile.lock
_site/
.cppdefs

# Nuisance files

# Makefile
Makefile
!developer_tests/time_manager/Makefile
!developer_tests/mpi_utilities/tests/Makefile
build_templates/mkmf.template
dart_log.*
mkmf.template
input.nml.*default
filter_ics
obs_def_mod.f90
obs_kind_mod.f90
using_mpi_for_*
check_me.nc
check_me_interptest.*
*.orig

# sphinx build folder
_build

# python directories
__pycache__

# RTTOV coefficient files

mietable*
rtcoef*

# Executables

advance_time
closest_member_tool
compare_states
compute_error
create_fixed_network_seq
create_obs_sequence
fill_inflation_restart
filter
gen_sampling_err_table
integrate_model
model_mod_check
obs_assim_count
obs_common_subset
obs_diag
obs_impact_tool
obs_keep_a_few
obs_loop
obs_selection
obs_seq_coverage
obs_seq_to_netcdf
radiance_obs_seq_to_netcdf
obs_seq_verify
obs_sequence_tool
obs_total_error
obs_utils
perfect_model_obs
perturb_single_instance
preprocess
restart_file_tool
system_simulation
dart_to_clm
clm_to_dart
wakeup_filter
mpas_dart_obs_preprocess
update_bc
update_mpas_states
advance_cymdh
cice_to_dart
dart_to_cice
column_rand
pert_sounding
dart_to_mit
mit_to_dart
create_ocean_obs
gitm_blocks_to_netcdf
gitm_to_netcdf
netcdf_to_gitm_blocks
streamflow_obs_diag
cam_dart_obs_preprocessor
aether_to_dart
dart_to_aether

# Observation converter exectutables
convert_aviso
level4_to_obs
CHAMP_density_text_to_obs
CNOFS_text_to_obs
CONAGUA_convert_streamflow
COSMOS_development
COSMOS_to_obs
convert_gpspw
convert_daily_grace
gtspp_to_obs
thinned_gtspp_to_obs
convert_madis_acars
convert_madis_marine
convert_madis_mesonet
convert_madis_metar
convert_madis_profiler
convert_madis_rawin
convert_madis_satwnd
MIDAS_to_obs
MOD15A2_to_obs
convert_saber_cdf
SIF_to_obs_netcdf
oi_sst_to_obs
sst_to_obs
convert_f16_edr_dsk
wod_to_obs
cice_to_obs
modis_ist_to_obs_netcdf
seaice_aggre_to_obs_netcdf
gnd_gps_vtec_text_to_obs
create_obs_radar_sequence
snow_to_obs
snow_to_obs_netcdf
tec_to_obs
text_to_obs
text_to_obs
convert_gpspw
convert_tpw
tc_to_obs
id_set_def_stdin
ps_id_stdin
ps_rand_local
convert_roms_obs
create_sphere_obs
convert_ok_mesonet
read_geo
convert_aura
dwl_to_obs
create_real_obs
prepbufr_to_obs
convert_pb_netcdf
cword.x
grabbufr.x
prepbufr.x
prepbufr_03Z.x
bufrlib.a
gsi_to_dart
convert_cosmic_gps_cdf
convert_cosmic_ionosphere
convert_gpsro_bufr
SMAP_L2_to_obs
convert_sat_chl
ssec_satwnd
gts_to_dart
littler_tf_dart
rad_3dvar_to_dart
bats_to_clim_obs
bats_to_obs
L1_AMSUA_to_netcdf
convert_airs_L2
convert_amsu_L1
convert_L2b
airnow_co_ascii_to_obs
airnow_no2_ascii_to_obs
airnow_o3_ascii_to_obs
airnow_pm10_ascii_to_obs
airnow_pm25_ascii_to_obs
airnow_so2_ascii_to_obs
fluxnetfull_to_obs
cris_ch4_cpsr_ascii_to_obs
cris_ch4_profile_ascii_to_obs
cris_ch4_total_col_ascii_to_obs
cris_co_cpsr_ascii_to_obs
cris_co_profile_ascii_to_obs
cris_co_total_col_ascii_to_obs
cris_nh3_profile_ascii_to_obs
cris_o3_profile_ascii_to_obs
cris_pan_profile_ascii_to_obs
gome2a_no2_trop_col_ascii_to_obs
gome2a_no2_trop_col_thinner
iasi_co_cpsr_ascii_to_obs
iasi_co_profile_ascii_to_obs
iasi_co_total_col_ascii_to_obs
iasi_o3_profile_ascii_to_obs
mls_hno3_cpsr_ascii_to_obs
mls_hno3_cpsr_thinner
mls_hno3_profile_ascii_to_obs
mls_hno3_profile_thinner
mls_o3_cpsr_ascii_to_obs
mls_o3_cpsr_thinner
mls_o3_profile_ascii_to_obs
mls_o3_profile_thinner
modis_aod_total_col_ascii_to_obs
modis_aod_total_col_ascii_to_obs_MATLAB
modis_aod_total_col_thinner_MATLAB
mopitt_co_cpsr_ascii_to_obs
mopitt_co_profile_ascii_to_obs
mopitt_v5_co_profile_ascii_to_obs
mopitt_v8_co_profile_ascii_to_obs
mopitt_v8_co_profile_thinner
omi_hcho_total_col_ascii_to_obs
omi_hcho_total_col_thinner
omi_no2_domino_trop_col_ascii_to_obs
omi_no2_domino_trop_col_thinner
omi_no2_total_col_ascii_to_obs
omi_no2_trop_col_ascii_to_obs
omi_no2_trop_col_thinner
omi_o3_cpsr_ascii_to_obs
omi_o3_cpsr_thinner
omi_o3_profile_ascii_to_obs
omi_o3_profile_thinner
omi_so2_pbl_col_ascii_to_obs
omi_so2_pbl_col_thinner
sciam_no2_total_col_ascii_to_obs
sciam_no2_trop_col_ascii_to_obs
tempo_no2_total_col_ascii_to_obs
tempo_no2_trop_col_ascii_to_obs
tempo_no2_trop_col_thinner
tempo_o3_cpsr_ascii_to_obs
tempo_o3_cpsr_thinner
tempo_o3_profile_ascii_to_obs
tempo_o3_profile_thinner
tempo_o3_total_col_ascii_to_obs
tempo_o3_trop_col_ascii_to_obs
tes_ch4_cpsr_ascii_to_obs
tes_ch4_cpsr_thinner
tes_ch4_profile_ascii_to_obs
tes_ch4_profile_thinner
tes_co_cpsr_ascii_to_obs
tes_co_cpsr_thinner
tes_co_profile_ascii_to_obs
tes_co_profile_thinner
tes_co2_cpsr_ascii_to_obs
tes_co2_cpsr_thinner
tes_co2_profile_ascii_to_obs
tes_co2_profile_thinner
tes_nh3_cpsr_ascii_to_obs
tes_nh3_cpsr_thinner
tes_nh3_profile_ascii_to_obs
tes_nh3_profile_thinner
tes_o3_cpsr_ascii_to_obs
tes_o3_cpsr_thinner
tes_o3_profile_ascii_to_obs
tes_o3_profile_thinner
tropomi_ch4_total_col_ascii_to_obs
tropomi_ch4_total_col_thinner
tropomi_co_total_col_ascii_to_obs
tropomi_co_total_col_thinner
tropomi_hcho_trop_col_ascii_to_obs
tropomi_hcho_trop_col_thinner
tropomi_no2_trop_col_ascii_to_obs
tropomi_no2_trop_col_thinner
tropomi_o3_total_col_ascii_to_obs
tropomi_o3_trop_col_ascii_to_obs
mexico_aqs_co_ascii_to_obs
mexico_aqs_no2_ascii_to_obs
mexico_aqs_o3_ascii_to_obs
mexico_aqs_pm10_ascii_to_obs
mexico_aqs_pm25_ascii_to_obs
mexico_aqs_so2_ascii_to_obs

# Test programs built by developer_tests
rttov_test
rttov_unit_tests
test_cf_conventions
test_diag_structure
test_read_write_restarts
test_read_write_time
test_state_structure
test_corr
test_diff
test_exp
test_gamma
test_gaussian
test_hist
test_inv_gamma
test_random
test_reseed
timetest
PrecisionCheck
error_handler_test
file_utils_test
find_enclosing_indices_test
find_first_occurrence_test
nml_test
parse_args_test
sort_test
stacktest
obs_rwtest
test_quad_irreg_interp
test_quad_reg_interp
test_table_read
test_ran_unif
test_kde_dist

# Directories to NOT IGNORE ... same as executable names
# as far as I know, these must be listed after the executables

!advance_time/
!closest_member_tool/
!compare_states/
!compute_error/
!create_fixed_network_seq/
!create_obs_sequence/
!fill_inflation_restart/
!filter/
!gen_sampling_err_table/
!integrate_model/
!model_mod_check/
!obs_assim_count/
!obs_common_subset/
!obs_diag/
!obs_impact_tool/
!obs_keep_a_few/
!obs_loop/
!obs_selection/
!obs_seq_coverage/
!obs_seq_to_netcdf/
!obs_seq_verify/
!obs_sequence_tool/
!obs_total_error/
!obs_utils/
!perfect_model_obs/
!perturb_single_instance/
!preprocess/
!restart_file_tool/
!system_simulation/
!wakeup_filter/

