*.mod
*.o
*.swp
*__pycache__*
*obscount.txt
*region?.ps
*~
.DS_Store
Gemfile.lock
_site/
.cppdefs

# Nuisance files

# Makefile
build_templates/mkmf.template
dart_log.*
mkmf.template
input.nml.*default
filter_ics
obs_def_mod.f90
obs_kind_mod.f90
using_mpi_for_*
check_me.nc
check_me_interptest.*
*.orig

# sphinx build folder
_build

# python directories
__pycache__

# RTTOV coefficient files

mietable*
rtcoef*

# Executables

advance_time
closest_member_tool
compare_states
compute_error
create_fixed_network_seq
create_obs_sequence
fill_inflation_restart
filter
gen_sampling_err_table
integrate_model
model_mod_check
obs_assim_count
obs_common_subset
obs_diag
obs_impact_tool
obs_keep_a_few
obs_loop
obs_selection
obs_seq_coverage
obs_seq_to_netcdf
obs_seq_verify
obs_sequence_tool
obs_total_error
obs_utils
perfect_model_obs
perturb_single_instance
preprocess
restart_file_tool
system_simulation
rttov_test
rttov_unit_tests
dart_to_clm
clm_to_dart

# Directories to NOT IGNORE ... same as executable names
# as far as I know, these must be listed after the executables

!advance_time/
!closest_member_tool/
!compare_states/
!compute_error/
!create_fixed_network_seq/
!create_obs_sequence/
!fill_inflation_restart/
!filter/
!gen_sampling_err_table/
!integrate_model/
!model_mod_check/
!obs_assim_count/
!obs_common_subset/
!obs_diag/
!obs_impact_tool/
!obs_keep_a_few/
!obs_loop/
!obs_selection/
!obs_seq_coverage/
!obs_seq_to_netcdf/
!obs_seq_verify/
!obs_sequence_tool/
!obs_total_error/
!obs_utils/
!perfect_model_obs/
!perturb_single_instance/
!preprocess/
!restart_file_tool/
!system_simulation/
!wakeup_filter/

