# DART software - Copyright UCAR. This open source software is provided
# by UCAR, "as is", without charge, subject to all terms of use at
# http://www.image.ucar.edu/DAReS/DART/DART_download
#
# DART $Id$

# Information about the DART directory structure, file locations, and
# the like.  This is referenced in the setup of COAMPS DART scripts
# and provides a central location for paths that will be used for
# multiple tasks (i.e. in creation of the advance_*.csh scripts)
#
# This is included in shell scripts with the bash "source" function so
# we can go and use things like comments, etc. if we need to add
# anything else.  This also means we need to follow the bash style of
# variable assignment.

### Location shortcuts
#
# These are not used by any of the scripts - they are internal to this
# file to save me typing when things are stored in the same spot

# - The large RAID array
BIGDISK=/net/ds-06/export/timw/private

# - Where the namelist/data for the initial COAMPS run lives
COAMPS_RUN_BASE_DIR=${BIGDISK}/COAMPS

# - Where the configuration data for the ensemble lives
ENSEMBLE_CONFIG_DIR=${BIGDISK}/ensembles/configurations/nrl_unconstrained

### Program locations
#
# Location of COAMPS model binaries
COAMPS_HOME=/home/timw/COAMPS/coamps3.1.1
COAMPS_UTIL_HOME=/PATH/TO/COAMPS/UTILITY/PACKAGE

# Location of COAMPS DART implementation
DART_HOME=/home/timw/sandbox/DART/models/coamps

### Data locations
#
# Location of COAMPS data for this run
# If multiple directories are needed (e.g. for a pre-existing ensemble),
# use syntax for this definition that will be passed to a printf function
# along with the ensemble member number.  
# Example:
# If the data is in coamps_ens_001, coamps_ens_002, coamps_ens_003, etc.
# COAMPS_DATA=coamps_ens_%03d
# so when printf is called with the member number, it will generate a
# valid path.
COAMPS_DATA=${COAMPS_RUN_BASE_DIR}/%05d
PERFECT_OBS_DATA=`printf ${COAMPS_DATA} 0`

# Top-level directory for DART DA experiment
DART_BASE=/net/ds-01/scratch-5/timw/ensembles/nrl_unconstrained

# Location of COAMPS namelist file that defines this model run
COAMPS_NAMELIST=${COAMPS_RUN_BASE_DIR}/namelist

# Location of the namelist file that defines this DART experiment
# Need this to specify the preprocessor, etc.
DART_NAMELIST=${ENSEMBLE_CONFIG_DIR}/nrl_unconstrained.input.nml

# Location of restart file to use as an initial condition
# If dealing with restart files created by parallel processes (i.e.
# npr0nam = 0 in the COAMPS namelist), use wildcards so a copy/move will
# get all of the files.
# Example:
#  restarta1p???20060125000030000
# will encompass restarta1p00020060125..., restarta1p00120060125..., etc.
RESTART_FILE_NAME=restarta1p00120050622000060000.nest1
COAMPS_RESTART_FILE=${COAMPS_DATA}/${RESTART_FILE_NAME}
PERFECT_RESTART_FILE=${PERFECT_OBS_DATA}/${RESTART_FILE_NAME}

# Location of the data file that will define the DART restart vector
RESTART_DAT=${ENSEMBLE_CONFIG_DIR}/nrl_unconstrained.restart.dat

# Size of the ensemble
ENSEMBLE_SIZE=50

# How many runs we'll do at once
CONCURRENT_RUNS=2

# Name of the PBS queue to use
PBS_QUEUE_ENS=four
PBS_QUEUE_FILTER=long
FILTER_PROCS=4

# <next few lines under version control, do not edit>
# $URL$
# $Revision$
# $Date$
