.navbar-inverse {
  background-color: whitesmoke;
}

.navbar-inverse .navbar-brand {
  color: black;
}
.navbar-inverse .navbar-brand:hover {
  color: grey;
}
.navbar-inverse .navbar-nav>li>a {
  color: black;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: grey;
  background-color: transparent;
}

body {
  background-image: url(https://ncar.ucar.edu/profiles/custom/ncar_ucar_umbrella/themes/custom/koru/libraries/koru-base/img/bg-body-ncar-v2.png);
  background-position: top right;
  background-repeat: repeat-y;
  background-color: #dbe2e9;
}

footer {
  background-color: #414143;
  color: #fff;
}

img {
  height: 100px;
}

.navbar-form .form-control {
  width: 100px;
}
