# Nuisance files
perfect_domain1.nc
perfect_domain2.nc
coamps.hdf5
obs_seq.one
obs_seq.out
obs_seq.final
obs_seq.2obs.in
small_metadata_file.txt
question.txt
Program_Descriptions.txt

# Executables

check_in_grid
create_increment
create_mean_nogaps
create_mean_std
innov_to_obs_seq
perturb_bndy
perturb_init
recntr_bndyperts
scale_coamps_perts
scale_nogaps_perts
trans_coamps_to_dart
trans_dart_to_coamps
update_datahd_file
