body{background:white;
      margin-left :7%;
      margin-right:7%;
      font-weight:normal;}

h1,h2,h3,h4,h5,h6 { margin-left: -4%; color:Black;}

h1{font-size:2.00em;}
h2{font-size:1.50em;}
h3{font-size:1.25em;}
h4{font-size:1.00em;}

h1.indent1{font-size:2.00em; margin-left:0%}
h2.indent1{font-size:1.50em; margin-left:0%}
h3.indent1{font-size:1.25em; margin-left:0%}
h4.indent1{font-size:1.00em; margin-left:0%}

div.box { border: solid; border-width: thin; width: 100% }

p.indent1{
margin-left: 4%;
margin-right:4%;
font-weight: normal;
}

p.indent2{
margin-left: 10%;
margin-right: 5%;
font-weight: normal;
}

p.abstract{font-size: 1.1em;
margin-left:  5%;
margin-right: 15%;
font-weight: normal;
text-align:justify;}

p.sub2{font-size: 1.1em;
font-weight: normal;
margin-left:15%}

p.head{
margin-left: 5%;
font-weight: normal;
}

li{ font-size: 1.1em }

a:link   { color: rgb(  0,   0, 153) } /* for unvisited links */
a:visited{ color: rgb(153,   0, 153) } /* for visited links */
a:active { color: rgb(255,   0, 102) } /* when link is clicked */
a:hover  { color: rgb(  0,  96, 255) } /* when mouse is over link */

td{font-weight:normal;}
form{font-weight:normal;}
option{font-weight:normal;}

pre.indent1{
margin-left:  5%;
margin-right:10%;
font-weight:normal;}

em.units{color:crimson; font-style:normal}

em.code{color:blue; font-style:typewriter}

em.call{color:blue; font-style:typewriter; font-size:1.50em}

em.option{color:blue; font-style:italic}

em.optionalcode{color:red; font-style:typewriter}

em.file{color:green; font-style:typewriter}

em.red{color:crimson; font-style:normal}

em.green{color:green; font-style:normal}

em.Navy{color:Navy; font-style:normal}

em.teal{color:cornflowerblue; font-style:normal}

em.sub{color:peru;
font-style:normal;
font-size:1.2em;}

em.head{color:white;
font-style:normal;
font-size:1.2em;}

em{font-style:normal;
color:red;}

em.nav{font-style:normal;
color:white;}
